*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

#card-img{
    width: 286.5px;
    height: 200px;
}
#card{
    width: 286.5px;
    height: 450px;
    background: #1A1A3D;
    color: white;
}

@media screen and (max-width:576px) {
    
#card-img{
    width: 365.6px;
    height: 200px;
}

#card{
    width: 605px; 
    height: 450px;

}
}
