* {
    margin: 0;
    padding: 0;
}

.stoir {
    text-align: end;
    margin-top: -62px;
}

/* .strix {
    margin-top: -117px;
    margin-left: 1150px;
    width: 30px;
} */


.footer_h6{
    margin-left: 16px;
}
.iconchalar{
    width: 30px;
    font-size: 30px;
       margin-right: 30px;
}


.back{
    margin-top: 40px;
    background-color: rgb(15, 15, 36);
    color: white;
}
.list{
    
}