* {
    margin: 0;
    padding: 0;
}

.stoir {
    text-align: end;
    margin-top: -62px;
}

/* .strix {
    margin-top: -117px;
    margin-left: 1150px;
    width: 30px;
} */


.footer_h6{
    margin-left: 16px;
}
